<div class="container">
  <form [formGroup]="profileForm">

    <div class="wrapper">
      <img [src]="initialUrl" class="my_file" height="150px" width="150px" alt="">
      <input type="file" value="" id="img" style="display:none;" (change)="onSelect($event)" />
      <label for="img" class="my_files">upload image</label><br><br>
    </div>

    <div class="form-group">
      <label for="firstname">First Name</label><br>
      <input type="text" autocomplete="off" [(ngModel)]="profile.firstname" id="firstname" name="firstname"
        placeholder="first name.." formControlName="firstname">

      <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)" class="alert alert-danger">
        <div *ngIf="firstName?.errors?.['required']">first name is required</div>
        <div *ngIf="firstName?.errors?.['minlength']">first name must be at least 6 characters long.</div>
      </div>
      <button class="btn" (click)="onSubmit()" type="button">save</button>
    </div>
  </form>
</div>