

/* .container{
    
    height: 350px;
    width: 350px;
    
    position: relative;
    border: 5px solid red;
    margin: 100px auto;
    
} */
.container {
    text-align: left;
    border-style: groove ;
    border-color: rgb(13, 13, 16);
    border-width: 5;
    box-sizing: content-box;
    position: relative;
    margin:auto;
    padding: auto;
    align-items: center;
    height: 500px;
    border-radius: 10px;
    
    float: left;
}


 .my_file{
    
    position: relative;
    border: 3px solid rgb(6, 6, 6);
    border-radius: 50%;
    background-size: 100% 100%;
    /* position: absolute; */
    overflow: hidden;

}

/* .my_file{
    
    bottom: 0;
    outline: none;
    color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.5s;
}  */

/* .my_file::-webkit-file-upload-button{
    visibility: visible;
} */

.my_files{
    background-color: lightblue;
    border: 2px solid black;
    border-radius: 4px;
    padding: 2px 2px;
    text-align: center;
    margin: 2px 2px;
    text-decoration: none;
    width: 98px;
    height: 15px;
    bottom: 0;
    box-sizing: border-box;
    cursor: pointer;
}
.btn{
    background-color: lightblue;
    text-align: center;
    
}

