<div class="taskboard-list" [ngClass]="statusColor">
  <div [ngClass]="headerColor">
    <span>{{ statusHeader }}</span>
  </div>
  <div
    class="taskboard-cards"
    [cdkDropListData]="tasks"
    cdkDropList
    (cdkDropListDropped)="drop($event, taskStatusId)"
  >
    <div class="taskboard-task" cdkDrag *ngFor="let task of tasks">
      <div>{{ task.title }}</div>
      <span>{{ task.description }}</span>
      <div>
        <div class="d-flex justify-content-end">
          <button
            mat-icon-button
            (click)="deleteTask(task)"
            class="d-flex justify-content-center"
          >
            <mat-icon class="d-flex justify-content-center">delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
