<div class="container">
  <h1>Employee Grid</h1>
  <table mat-table [dataSource]="department" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="departmentId">
      <th mat-header-cell *matHeaderCellDef>Department Id</th>
      <td mat-cell *matCellDef="let department">
        {{ department.departmentId }}
      </td>
    </ng-container>

    <ng-container matColumnDef="departmentName">
      <th mat-header-cell *matHeaderCellDef>Department Name</th>
      <td mat-cell *matCellDef="let department">
        {{ department.departmentName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="more_vert">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let department">
        <button
          mat-icon-button
          color="primary"
          (click)="editDepartment(department.departmentId)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          color="warn"
          (click)="deleteDepartment(department.departmentId)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
