
.example-form{
    text-align: center;
}


.container {
    text-align: left;
    border-style: groove;
    border-color: rgb(13, 13, 16);
    border-width: 5;
    box-sizing: content-box;
    position: relative;
    margin: auto;
    padding: auto;
    align-items: center;
    height: 500px;
    border-radius: 10px;

    float: left;
}
