.delete-button {
  color: red;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.grid-item {
  border: 1px solid #ccc;
  padding: 10px;
}

ng-scrollbar {
  --scrollbar-size: 8px;
  --scrollbar-thumb-color: gray;
  --scrollbar-hover-size: 12px;
  --scrollbar-track-color: rgba(0, 0, 0, 0.05);
  --scrollbar-border-radius: 10px;

  height: 540px;
}

button {
  border: none;
  background-color: #fffaf045;
}
