.container {
  max-width: 300vh; /* Adjust as needed */
  margin: 0px; /* Center the form horizontally */
  padding: 35px;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.form-group {
  flex: 0 0 48%; /* Adjust width of each column */
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
}

/* Style the submit button */
button[type="submit"] {
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
.mat-mdc-card-content {
  padding-bottom: 12px;
  padding-left: 88vmax;
}
