<div class="my-3">
    <form (ngSubmit)="onSubmit">
        <div class="mb-3">
            <label for="title" class="form-label">todo title</label>
            <input type="text" [ngModel]="title" [ngModelOptions]="{standalone: true}" class="form-control" id="title" placeholder="todo title">
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">descption</label><br>
            <textarea class="text" [(ngModel)]="desc" [ngModelOptions]="{standalone: true}" id="desc" rows="3"></textarea>
        </div>
            <button type="add todo" class="btn btn-sm btn-primary" (click)="onAdd()">add todo</button>
    </form>
</div>


<div>
    <h1>this is todos-item</h1>
    <ul>
        <li *ngFor="let todo of todos">
            <span>{{todo.sno}} - {{todo.title}}</span>
        </li>
    </ul>
    <button class="btn btn-sm btn-danger" (click)="onSave()">Save</button>&nbsp;
    <button class="btn btn-sm btn-danger" (click)="onEdit()">Edit</button>&nbsp;
    <button class="btn btn-sm btn-danger" (click)="onDelete()">delete</button>&nbsp;
</div>

<!-- <app-todos (todoadd)="addTodo($event)"></app-todos> -->

<div *ngIf="this.todos.length===0; else elseBlock">no todo to display</div>
<ng-template #elseBlock>
    <!-- <div *ngFor="let todo of todos">
        <app-todos [todo]="todo" (todoDelete)="deleteTodo($event)"></app-todos>
    </div> -->
</ng-template>

